[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spyder = "==5.3.2"
spyder-kernels = "==2.3.3"
tensorflow = "*"
sklearn = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
